@import '../assets/fonts/fonts.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollbar-hide::-webkit-scrollbar-track {
    background: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: #082497;
  }